ul {
  list-style-type: none;
  margin: 0;
  padding: 0;   
  display: flex;
  flex-direction: column;
}

li {
  transform: skewX(-20deg); /* Slants the button box */
  margin: 10px;
}
li button {
  transform: skewX(20deg); /* Straightens the text inside */
  padding: 10px 20px;
}